/* CSS Document */

html *
{
   font-family: Helvetica, Arial, sans-serif !important;
}

.tableContainerDiv {
  overflow: auto;
  max-height: 40em;
  overflow-y: scroll;
}
th {
  position: sticky;
  top: 0;
  background: white;
}

form {
  display: inline;
}

body {
  max-width: 750px;
}
