/* CSS Document */

body {
    background: #fefef4;
    background-repeat: no-repeat;  
    background-position: 0% 0%;
    background-size: 100% 100%;
  }

table {
    /* table-layout: fixed; */
    align-items: left;
    margin-right: auto;
    margin-bottom: 3%;
    margin-top: 3%;
  
    border-collapse: collapse;
    border: solid black 1px;
    color: black;
  }

thead {
    text-align: left;
  }