<html>
<head>
    <title>MLS Players Analysis</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body onload="pageCheck" id="page">
<h1>MLS Players Analysis</h1>
<hr>
<div class="selections">
    <form action="/" method="POST">
      <label for="name">Search:</label>
      <input type="text" id="search" name="search" value="{{search}}">
      <br>
      <a href="javascript:void(0" onclick="advancedSearch()">Advanced Search</a>
      <br>
      <div id="advanced" style="display: none;">
        <label for="name">First:</label>
        <input type="text" id="name" name="name" value="{{name}}">
  
        <label for="name2">Last:</label>
        <input type="text" id="name2" name="name2" value="{{name2}}">
    
        <label for="team">Team</label>
        <select type="text" id="team" title="team" name="team"  value="{{team}}">
          <option {% if team == '' %} selected {% endif %} value=""></option>
          <option {% if team == 'atlanta united' %} selected {% endif %}  value="atlanta united">Atlanta United FC</option>
          <option {% if team == 'austin fc' %} selected {% endif %} value='austin fc'>Austin FC</option>
          <option {% if team == 'charlotte fc' %} selected {% endif %} value='charlotte fc'>Charlotte FC</option>
          <option {% if team == 'chicago fire fc' %} selected {% endif %} value='chicago fire fc'>Chicago Fire FC</option>
          <option {% if team == 'fc cincinnati' %} selected {% endif %} value='fc cincinnati'>FC Cincinnati</option>
          <option {% if team == 'colorado rapids' %} selected {% endif %} value='colorado rapids'>Colorado Rapids</option>
          <option {% if team == 'columbus crew' %} selected {% endif %} value='columbus crew'>Columbus Crew</option>
          <option {% if team == 'fc dallas' %} selected {% endif %} value='fc dallas'>FC Dallas</option>
          <option {% if team == 'd.c. united' %} selected {% endif %} value='d.c. united'>D.C. United</option>
          <option {% if team == 'houston dynamo fc' %} selected {% endif %} value='houston dynamo fc'>Houston Dynamo FC</option>
          <option {% if team == 'la galaxy' %} selected {% endif %} value='la galaxy'>LA Galaxy</option>
          <option {% if team == 'los angeles fc' %} selected {% endif %} value='los angeles fc'>Los Angeles FC</option>
          <option {% if team == 'minnesota united fc' %} selected {% endif %} value='minnesota united fc'>Minnesota United FC</option>
          <option {% if team == 'inter miami cf' %} selected {% endif %} value='inter miami cf'>Inter Miami CF</option>
          <option {% if team == 'cf montreal' %} selected {% endif %} value='cf montreal'>CF Montreal</option>
          <option {% if team == 'nashville sc' %} selected {% endif %} value='nashville sc'>Nashville SC</option>
          <option {% if team == 'new england revolution' %} selected {% endif %} value='new england revolution'>New England Revolution</option>
          <option {% if team == 'new york city fc' %} selected {% endif %} value='new york city fc'>New York City FC</option>
          <option {% if team == 'new york red bulls' %} selected {% endif %} value='new york red bulls'>New York Red Bulls</option>
          <option {% if team == 'orlando city sc' %} selected {% endif %} value='orlando city sc'>Orlando City SC</option>
          <option {% if team == 'philadelphia union' %} selected {% endif %} value='philadelphia union'>Philadelphia Union</option>
          <option {% if team == 'portland timbers' %} selected {% endif %} value='portland timbers'>Portland Timbers</option>
          <option {% if team == 'real salt lake' %} selected {% endif %} value='real salt lake'>Real Salt Lake</option>
          <option {% if team == 'san jose earthquakes' %} selected {% endif %} value='san jose earthquakes'>San Jose Earthquakes</option>
          <option {% if team == 'seattle sounders fc' %} selected {% endif %} value='seattle sounders fc'>Seattle Sounders FC</option>
          <option {% if team == 'sporting kansas city' %} selected {% endif %} value='sporting kansas city'>Sporting Kansas City</option>
          <option {% if team == 'toronto fc' %} selected {% endif %} value='toronto fc'>Toronto FC</option>
          <option {% if team == 'vancouver whitecaps fc' %} selected {% endif %} value='vancouver whitecaps fc'>Vancouver Whitecaps FC</option>
        </select>  
      </div>

  
      <input type="submit" id=submit value="Submit">
    </form>
    <form action="/" method="GET">
      <input type="submit" value="Clear">
    </form>
  </div>
<hr>
  <div class="tableContainerDiv">
    <table class="table">
      <tr class="header">
        {% for header in headings %}
        <th class="cell">{{header}}</th>
        {% endfor %}
        <th>Info</th>
      </tr>
      {% for row in data %}
      <tr class="row">
        {% for cell in row %}
        <td class="cell">{{cell}}</td>
        {% endfor %}  
        <td><a href="GetPlayerInfo/{{loop.index}}">Info</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>  

  <script>
  const resetForm = (event) => {
  console.log("resetForm")
  document.getElementById("search").value = '';
  document.getElementById("name").value = '';
  document.getElementById("name2").value = '';
  document.getElementById("team").value = '';
  document.getElementById("advanced").style.display = "block";
  event.preventDefault()
  }

  const el = document.getElementById("reset");
  el.addEventListener("click", resetForm);

  function advancedSearch() {
  console.log("advancedSearch")
  var adv_section = document.getElementById("advanced");
  if (adv_section.style.display === "none") {
    adv_section.style.display = "block";
  } else {
    adv_section.style.display = "none";
  }
  }

  function pageCheck() {
  console.log("pageCheck")
  var name = document.getElementById("name");
  var adv_section = document.getElementById("advanced");
  if (name && name.value) {
    adv_section.style.display = "block";
  } else {
    adv_section.style.display = "none";
  }
  }

  const load = document.getElementById("tableContainerDiv");
  load.addEventListener("load", pageCheck);

  </script>
</body>
</html>