<html>
<head>
	<h1>MLS PLAYERS ANALYSIS</h1>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="https://use.typekit.net/nvz7lyg.css">
	<script src="https://kit.fontawesome.com/1f94aa04ee.js" crossorigin="anonymous"></script>
</head>

<body class="artists">
				<p>		
			<form id="searchPlayer" action="/"method="get">
				<fieldset>
					<!-- placeholder shows ghost text, required forces an input,	pattern forces input adherence -->
					<a><b>Search</b></a>&nbsp;&nbsp;&nbsp;
					<label for="first"> First Name: </label>
					<input type="text" name="first" id="first">
					<label for="last"> Last Name: </label>
					<input type="last" name="last" id="last">
					<label for="team"> Team: </label> 
					<input type="text" name="team" id="team">
					<!-- Create 'Search' and 'Cancel' buttons -->
					<input type="submit" value="Search" name="SearchPlayer"
					class="btn btn-primary" style="margin:.5rem;">
					<input class="btn" type="button" value="clear" 	name="clear"onClick="window.location.href='/'">
				</fieldset>
			</form>
		</p>
	<div id="browse">
		<table border="1" cellpadding="5">
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        <!-- End of this for loop -->
                        {% endfor %}
						<th></th>
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}
						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td>
                            {% endfor %}
                            <!-- Create link -->
						    <td><a href="DeleteArtist/{{item['ID']}}"><i class="fa-solid fa-trash-can"></i></a></td>

					    </tr>
                        {% endfor %}
                {% endif %}
        </table>
		<p><a href="#" onClick="newArtist()" class="add-link"><i class="fa-solid fa-square-plus fa-2xl"></i></a> </p>
	<p>&nbsp;</p>
	</div>	<!-- browse -->

</body>
</html>